body
{
    background-color: #fce70353;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}


button
{
    font-family: 'Arial Narrow' sans-serif;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10%;

}

button:hover{
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    border: 1px 1px 1px black;

}