*{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center
}

body{
    background-color: rgb(97, 97, 97);
    color: white;
   
}

h1{
    font-size: 2.5em;
    font-family:Arial, Helvetica, sans-serif
}

p{
    font-size: 1.6em;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

#footy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
}

#fundo{
    background-color: rgb(255, 255, 255);
    width:50vw;
    height: 400px;
    margin: auto;
    padding-top: 5px;
    margin-top: 50px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.657);
}


#foto{
    background-color: black;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    transform:translate(0%,2%);

}
img{

    border-radius: 50%;
    height: 300px;
    width: 300px;

}